<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%# <%= javascript_include_tag "turbo", type: "module" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
    <h1><%= link_to image_tag('IMG_0098.jpeg', class: 'test'), root_path %></h1>
    <%= yield %>
    </div>
  </body>
</html>
